#wrap {
	height: 100%;
	margin: 0 auto;
	margin-top: 150px;
	width: 800px;
	background-color: red;
}

#container {
	text-align: center;
	font-family: Georgia;
	text-shadow: 1px 1px 2px rgba(0,0,0,0,0.5);
	font-size: 24px;
}

#time {
	font-size: 36px;
}

#color {
	font-size: 36px;
}



	
/*
#wrap {color: #39f !important;}
@-webkit-keyframes colours {
      0% {background-color: #39f;}
     50% {background-color: #8bc5d1;}
     100% {background-color: #f8cb4a;}

}
#wrap {
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 60s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: colours;
    -webkit-animation-timing-function: ease;
}
*/