html {
	background: black;
}

#wrap {
	height: 100%;
}

.row {
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#container {
	margin: auto;
	margin-top: 100px;
	width: 600px;
	height: 540px;
	border: 7px solid blue;
}

.square {
	float: left;
	box-shadow: none;
	width: 60px;
	height: 60px;
	border: 0px;
	margin: 0px;
	padding: 0px;
	display: inline-block;
}